@tailwind base;
@tailwind components;
@tailwind utilities;


.orchidea{
  font-family: Orchidea;
}

:root{
  color:black
}

body::-webkit-scrollbar{
  width: 0;
}


.sliderNoScroll::-webkit-scrollbar{
width: 0;

}
